@font-face
{
    font-family:Poppins;
    src:"../../assets/poppins.ttf";
}


@font-face
{
    font-family:Poppins;
    src:"../../assets/poppins_bold.ttf";
    font-weight:bold;
}

*
{
    font-family:Poppins;
}

/*utility variables*/
:root{
    --brand-primary-dark-color:#1c2541;
    --brand-primary-light-color: #48cae4;
    --brand-primary-light-color-2: #90e0ef;
    --brand-primary-light-color-3: #caf0f8;

    --brand-secondary-color:#16679a;
    --brand-secondary-color-2:#1c558e;

    --brand-white-color:#eff7f6;
    --brand-button-border-radius: 20px;
    --brand-button-border-radius-2: 15px;
    --brand-button-border-radius-3: 10px;
}

/*Brand primary utility classes*/

.brand-primary-color{
    background:var(--brand-primary-light-color);
}
.brand-primary-color-2{
    background:var(--brand-primary-light-color-2);
}
.brand-primary-color-3{
    background:var(--brand-primary-light-color-3);
}
.brand-dark-color{
    background:var(--brand-primary-dark-color);
    color:var(--brand-white-color);
}
.brand-white-color{
    background:var(--brand-white-color);
}




/*Brand secondary utility classes*/

.brand-secondary-color{
    background:var(--brand-secondary-color);
}

.brand-secondary-color-2{
    background:var(--brand-secondary-color-2);
}

.brand-white-text{
    color:var(--brand-white-color);
}

/*default bootstrap navbar properties @overide*/

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}


/*Brand button styling*/

.brand-button{
    border-radius: var(--brand-button-border-radius-2);
    outline:none;
    border:0;
    text-transform:capitalize;
}

.brand-button:hover
{
    cursor:pointer;
}